<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://static.stereogum.com/uploads/2023/03/taylor-swift-eras-tour-setlist-video-1679145637-1000x660.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">Taylor Swift</h1>
        <p>
          <strong>Taylor Alison Swift</em></strong></span> (born December 13, 1989) is an American singer-songwriter.
           Recognized for her songwriting, musical versatility, artistic reinventions, and influence on the music industry, she is a prominent cultural figure of the 21st century.<br>
            Swift began professional songwriting at age 14 and signed with Big Machine Records in 2005 to become a country singer. She released six studio albums under the label, four of them to country radio, starting with her self-titled album in 2006. Her next,
            Fearless (2008), explored country pop, and its singles Love Story" and "You Belong with Me" catapulted her to prominence. Speak Now (2010) incorporated rock influences, while Red (2012) experimented with electronic elements and featured Swift's first Billboard Hot 100 number-one song, 
            "We Are Never Ever Getting Back Together". She departed from her country image with 1989 (2014), a synth-pop album supported by the chart-topping songs
        </p>
      </div>
    </div>
  </div>
</main>
